@import './Colors.scss';
@import './Fonts.scss'; 

.achievements-container{
    flex: 3;
    overflow-y: scroll;
    display: flex;
    .achievements{
        h1{
            margin: 0; 
        }
    }
    
}