$gray: #ECECEC; 
$blue: #84C4CF; 
$lightGrey: #F7F7F7; 
$lightBlack:#454545;
$black: #000000;  
$white: #FFFFFF; 
$purple: #8899F1; 
$pink: #E567C2; 
$red: #E36363; 
$orange: #EA9E2D; 
$darkGray: #AEAEAE;
$text: #242423; 
$LinkedIn: #0077B5;
$LinkedIn_hover: #035681;
$shadow: #0000005e