//Roboto Bold and Regular
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//Montserrat Bold and regular
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$regular: 400; 
$bold: 700;

@mixin font ($weight, $size, $color) {
    font-family: 'Roboto', sans-serif;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}