@import './Colors.scss';
<<<<<<< HEAD
@import './Fonts.scss';  

#Header {

    background-color: #454545; 
    font-family: 'Montserrat';
    color: #FFFFFF;  
    padding: 0.05px 25px 0.05px 25px;
    display: inline-block; 
    width: 96.1%; 
    
    #logo {
        float: left;
    }

    #user {
        float: right;
    }

}
=======
@import './Fonts.scss';  
>>>>>>> 34ea26372cdc6f30b2b5ae9d38ff4bc8d53020a9
