@import './Colors.scss';
@import './Fonts.scss';  

#Header {

    #img {
        float: left; 
        display: inline-block; 
    }

    background-color: #454545; 
    font-family: 'Montserrat';
    color: #FFFFFF;  
    padding: 0.05px 25px 0.05px 25px;
    display: inline-block; 
    width: 100%; 
    
    #logo {
        float: left;
    }

    #user {
        float: right;
        font-size: 15px;
    }

}
