@import './Colors.scss';
@import './Fonts.scss'; 

.home-container{
    flex: 3; 
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    background-image: url(../home-picture/Handsup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    
    .home{
        width: 70%;
        h1 {
            margin: 0;
        }
    }
}

