@import './Colors.scss'; 
@import './Fonts.scss'; 

.container{
    display: table-row;

    nav {
        display: table-cell;
        width: 311px; 
        height: 846px;
        background-color: #ECECEC;
         
        
        ul {
            list-style-type: none;
            margin: 0; 
    
<<<<<<< HEAD
            li{
                padding: 5%;
                
                a {
                    font-family: 'Roboto', sans-serif;
                    font-weight: regular;
                    color: $black; 
                    text-decoration: none; 
                }
=======

    ul {
        list-style-type: none;
        margin: 0; 

        li{
            padding: 5%;
            
            a {
                font-family: 'Roboto', sans-serif;
                font-weight: regular;
                color: $black; 
                text-decoration: none;
                
                    &:hover {
                        color: $blue;
                    }
>>>>>>> fd971d4a8b7ac76e57d0eb951277583533a28818
            }
        }
    }
}

