@import './Colors.scss'; 
@import './Fonts.scss'; 

#schedule-container {
  flex: 1;
  background-color: $gray;
  display: flex;
  .schedule{
    position: fixed;
    h1{
      margin: 0;
    }
  } 
}